.toggled-class {
  border: solid;
  border-width: 1px;
  padding-top: 1px;
  padding-bottom: 3px;
  border-radius: 5px;
  margin: 3px;
  padding-right: 4px;
  padding-left: 4px;
  color:rgba(4, 28, 241, 0.768);
  border-color: rgba(4, 28, 241, 0.459);
}

.filters-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.tags-categories-container {
  display: flex;
  align-items: center;
  margin: 17px;
}
