.header-container{
  border: solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-width: 1.5px;
  padding:8px;
  height: 70px;
  margin-bottom: 16px;
  border-radius: 5px;
  border-color:rgba(0, 0, 0, 0.311);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 2px 1px;
  margin-top: 10px;
}

.title-header {
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
}
