
.workshop-container {
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  width: 990px;
}

.workshop-title {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.workshop-comment {
  margin-left: 20px;
  margin-right: 20px;
}

.images-worshop-container {
  display: flex;
  margin-top: 20px;
}

.workshop-image1 {
  width: 680px;
  height: 400px;
  margin-right: 10px;
  border-radius: 15px 0 0 15px;
}

.workshop-image2 {
  width: 300px;
  height: 195px;
  margin-bottom: 10px;
  border-radius: 0 15px 0 0;
}

.workshop-image3 {
  width: 300px;
  height: 195px;
  border-radius: 0 0 15px 0;
}

.workshop-content {
  width: 995px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: solid;
  border-color: rgba(0, 0, 0, 0.121);
  margin-top: 25px;
}

.container-share-icon {
  display: flex;
  align-items: center;
}

.button-fav-heart {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.heart-icon {
  color: rgb(139, 0, 252);
  font-size: 20px;
  margin: 2px
}

.share-icon {
color: rgb(139, 0, 252);
font-size: 20px;
margin: 4px
}

.container-shareicon-hearticon {
  display: flex;
  align-items: center;
}

.rating-comments-share-upload-location {
  display: flex;
  justify-content: space-between;
}

.rating-comments-location {
  display: flex;
  align-items: center;
}

.btn-booking-workshop-page {
  background-color: initial;
  background-image: linear-gradient(#8614f8 0, #760be0 100%);
  border-radius: 15px;
  border-style: none;
  box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-weight: 500;
  height: 56px;
  line-height: 60px;
  margin-left: -4px;
  outline: 0;
  text-align: center;
  transition: all .3s cubic-bezier(.05, .03, .35, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: bottom;
  width: 400px;
}

.btn-booking-workshop-page:hover {
  opacity: .8;
}

@media screen and (max-width: 1000px) {
  .btn-booking-workshop-page {
    font-size: 14px;
    height: 55px;
    line-height: 55px;
    width: 150px;
  }
}

.container-button-booking-workshop-page {
  display: flex;
  justify-content: center;
}

.btn-booking-and-info-renter {
  display: flex;
  justify-content: space-between;
  width: 995px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: solid;
  border-color: rgba(0, 0, 0, 0.121);
}

.profil-phone-icon-container {
  display:flex;
  align-items: center;
}

.profil-phone-icon {
  margin-right: 10px;
  font-size: 20px;
  color: rgb(139, 0, 252)
}

.info-delete-booking {
  display: flex;
  align-items: center;
  justify-content: center;
}
