.slide-workshop-details {
  display: flex;
  flex-direction: column;
}

.workshop-details-booking {
  height: 350px;
}

.workshop-details {
  margin-top: 10px;
  margin-bottom: 10px;
}

.workshop-container {
  padding: 20px;
}

.workshop-title {
  font-size: 30px;
}
